version: "3.8"
services:
  backend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DSN=${DB_DSN}
    volumes:
      - ./:/app
    restart: unless-stopped
